{{ form_start(form) }}
<div class="ingredientRecettesForm">
	<div class="form-field">
		<p>Pour une aversion générale à une famille de produits, ou un régime particulier</p>
		{{ form_row(form.superCategorieIngr) }}
	</div>
	<div class="form-field">
		<p>Pour une aversion à une sous-famille de produits, ou un régime particulier</p>
		{{ form_row(form.categorieIngredients) }}
	</div>
	<div class="form-field">
		<p>Pour une aversion à un produit spécifique, ou un régime particulier</p>
		{{ form_row(form.ingredient) }}
	</div>
</div>
<button class="btn btnValider">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
