{{ form_start(form) }}
<div class="form-field">
	<label for="nom">Ingrédient</label>
	<input name="{{ field_name(form.ingredient) }}" value="{{ field_value(form.ingredient) }}" placeholder="{{ field_label(form.ingredient) }}" class="form-control rounded-1"/>
</div>


    <button class="btn btnValider">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
