{% extends 'base.html.twig' %}

{% block title %}Flavor Link
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Accueil</h1>
		<div class="container">
			<a class="btn shadow-1 rounded-1" href="{{path('app_user_index')}}">Mon compte</a>
			<a class="btn shadow-1 rounded-1" href="{{path('app_recettes_index')}}">Mes recettes</a>
					<a class="btn shadow-1 rounded-1" href="{{path('app_amis_index')}}">Mes amis</a>

		{% if not is_granted('ROLE_USER') %}
			<a class="btn shadow-1 rounded-1" href="{{path('app_login')}}">Connexion</a>
			<a class="btn shadow-1 rounded-1" href="{{path('app_register')}}">Inscription</a>
		{% endif %}
</div>
	</div>
{% endblock %}
