{{ form_start(form) }}

<div class="form-field">
	<label for="dateRepas">Date :</label>
	<input type="date" name="{{ field_name(form.dateRepas) }}" value="{{ field_value(form.dateRepas) }}" class="form-control rounded-1 dateRepas"/>
</div>



<div class="form-field">
	<label for="resultat">Résultat :</label>
	<input name="{{ field_name(form.resultat) }}" value="{{ field_value(form.resultat) }}" placeholder="{{ field_label(form.resultat) }}" class="form-control rounded-1"/>
</div>

<div class="form-field">
	<label for="commentaire">Commentaire :</label>
	<input name="{{ field_name(form.commentaire) }}" value="{{ field_value(form.commentaire) }}" placeholder="{{ field_label(form.commentaire) }}" class="form-control rounded-1"/>
</div>

<button class="btn btnValider">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
