{% extends 'base.html.twig' %}

{% block title %}Mes repas - Flavor Link
{% endblock %}

{% block body %}
	<section class="repasIndex">
		<h1>Mes repas</h1>
		<a class="btn btnCreer" href="{{ path('app_choixrepas') }}">Créer</a>

		<div class="cards">
			{% for repa in repas  | sort((b, a)=> a.dateRepas <=> b.dateRepas)%}
				<div class="card shadow-1 hoverable-1 rounded-3 ">
					<a class="cardRepas" href="{{ path('app_repas_show', {'id': repa.id}) }}">
						<div class="card-header">
							<div>
								{{ repa.dateRepas ? repa.dateRepas|date('d-M-Y') : '' }}&nbsp;
							</div>
							<div class="cardRepasTitre">
								&nbsp;{{ repa.recette.titre}}&nbsp;
							</div>
							<div>
								{% for ami in repa.amis  | sort((a, b)=> a.nom <=> b.nom)%}
									&nbsp;{{ ami.nom }},&nbsp;
								{% endfor %}
							</div>
						</div>
						<div class="card-content">
							<div>
								{{ repa.resultat}}
							</div>
							<div>
								{{ repa.commentaire}}
							</div>
						</div>
					</a>

				</div>
			{% else %}
				<div>Aucun repas enregistré !</div>

			{% endfor %}
		</div>

	</section>
{% endblock %}
