{% extends 'base.html.twig' %}

{% block title %}Repas index
{% endblock %}

{% block body %}
	<h1>Repas index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>DateRepas</th>
				<th>Recette</th>
				<th>Amis</th>
				<th>Resultat</th>
				<th>Commentaire</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for repa in repas %}
				<tr>
					<td>{{ repa.id }}</td>
					<td>{{ repa.dateRepas ? repa.dateRepas|date('d-M-Y') : '' }}</td>
					<td>{{ repa.recette.titre }}</td>
					<td>
						{% for ami in repa.amis %}
							{{ ami.nom }},
						{% endfor %}
					</td>

					<td>{{ repa.resultat }}</td>
					<td>{{ repa.commentaire }}</td>
					<td>
						<a href="{{ path('app_repas_show', {'id': repa.id}) }}">show</a>
						<a href="{{ path('app_repas_edit', {'id': repa.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_repas_new') }}">Create new</a>
{% endblock %}
