{% extends 'base.html.twig' %}

{% block title %}Ingrédients pour {{ recette.titre }} - Amiam
{% endblock %}

{% block body %}
	<h1>Ingrédients pour {{ recette.titre }}</h1>

	<table>
		<tbody>
			{% for recette_ingredient in recette_ingredients %}
				{% if recette_ingredient.recetteId is same as recette %}

					<tr>

						<td>{{ recette_ingredient.ingredientId.ingredient }}</td>
						<td>{{ recette_ingredient.quantite }}</td>
						<td>{{ recette_ingredient.uniteMesure }}</td>
						<td>
							<a class="btn btnModifier" href="{{ path('app_recette_ingredients_edit', {'id': recette_ingredient.id}) }}">Modifier</a>
						</td>
					</tr>
				{% endif %}
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btnValider"href="{{ path('app_recette_ingredients_new', {'recette':recette}) }}">Ajouter</a>

	<a class="btn btnValider" href="{{ path('app_recette_fin_creation', {'recette':recette}) }}">Suivant</a>
{% endblock %}
