{{ form_start(form) }}
<div class="recettesForm">
	<div class="recettesTitre">
		<div class="form-field">
			<label for="titre">Titre de la recette :</label>
			<input name="{{ field_name(form.titre) }}" value="{{ field_value(form.titre) }}" placeholder="{{ field_label(form.titre) }}" class="form-control rounded-1"/>
		</div>

		<div class="form-field saisons">
			{{ form_row(form.saison) }}

		</div>


		<div class="form-field nbPersonnes ">
			<label for="nbPersonnes">Recette pour
			</label>
			<input name="{{ field_name(form.nbPersonnes) }}" value="{{ field_value(form.nbPersonnes) }}" class="form-control rounded-1 "/>
			<p>
				personnes.</p>
		</div>
	</div>

	<button class="btn btnValider">{{ button_label|default('Suivant') }}</button>
</div>
{{ form_end(form) }}
