{% extends 'base.html.twig' %}

{% block title %}Recettes index
{% endblock %}

{% block body %}
	<h1>Mes recettes</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Photo</th>
				<th>Titre</th>
				<th>Préparation</th>
				<th>Cuisson</th>
				<th>Repos</th>
				<th>Saison</th>
				<th>actions</th>
			</tr>
		</thead>

		<tbody>
			{% for recette in app.user.recettes %}
				<tr>
					<td>{{ recette.id }}</td>
					<td>{{ recette.photo }}</td>
					<td>{{ recette.titre }}</td>

					<td>{{ recette.tpsPreparation }} min</td>
					<td>{{ recette.tpsCuisson }} min</td>
					<td>{{ recette.tpsRepos }} min</td>
					<td>{{ recette.saison }}</td>
					<td>
						<a href="{{ path('app_recettes_show', {'id': recette.id}) }}">Voir</a>
						<a href="{{ path('app_recettes_edit', {'id': recette.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">Aucune recette enregistrée !</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_recettes_new') }}">Créer</a>
{% endblock %}
