{% extends 'base.html.twig' %}

{% block title %}Recettes index
{% endblock %}

{% block body %}
	<h1>Recettes index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Ingrédients</th>
				<th>TpsPreparation</th>
				<th>TpsCuisson</th>
				<th>TpsRepos</th>
				<th>Preparation</th>
				<th>Photo</th>
				<th>Saison</th>
				<th>NbPersonnes</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for recette in recettes %}
				<tr>
					<td>{{ recette.id }}</td>
					<td>{{ recette.titre }}</td>
				<td>{{ recette.ingredientsAll | raw }}</td>
							<td>{{ recette.tpsPreparation }}</td>
				<td>{{ recette.tpsCuisson }}</td>
				<td>{{ recette.tpsRepos }}</td>
				<td>{{ recette.preparation | raw }}</td>
				<td>{{ recette.photo }}</td>
				<td>{{ recette.saison }}</td>
				<td>{{ recette.nbPersonnes }}</td>
				<td>
					<a href="{{ path('app_recettes_show', {'id': recette.id}) }}">show</a>
					<a href="{{ path('app_recettes_edit', {'id': recette.id}) }}">edit</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="10">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('app_recettes_new') }}">Create new</a>{% endblock %}
