{% extends 'base.html.twig' %}

{% block title %}Recettes - Amiam
{% endblock %}

{% block body %}
	<section class="recettesIndex">
		<h1>Mes recettes</h1>
		<div>
			<a class="btn btnCreer" href="{{ path('app_recettes_new') }}">Créer</a>
		</div>
		<div
			class="cards">
			{# {% if recette %} #}

			{% for recette in app.user.recettes | sort((a, b)=> a.titre <=> b.titre)  %}
				<div class="card shadow-1 hoverable-1 rounded-3 ">
					<a class="cardRecette" href="{{ path('app_recettes_show', {'id': recette.id}) }}">
						{% if recette.photo %}
							<div class="imgRecette"><img src="{{asset('uploads/photos/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
						{% else  %}
							<div class="imgRecette"><img src="{{asset('./assets/img/Image.jpg')}}" alt="{{ recette.titre }}"></div>
						{% endif  %}

						<div class="slugRecette">
							<div class="titreRecette">{{ recette.titre }}</div>
							<div class="tpsRecette">
								<div>
									<div>Préparation</div>
									<div>{{ recette.tpsPreparation }}
										min</div>
								</div>
								<div>
									<div>Repos</div>
									<div>{{ recette.tpsRepos }}
										min</div>
								</div>
								<div>
									<div>Cuisson</div>
									<div>{{ recette.tpsCuisson }}
										min</div>
								</div>

							</div>
							<div>{% for saison in recette.saison %}
									<div>{{ saison }}
										</div>
							{% endfor %}</div>
						</div>


					</a>
				</div>
			{% else %}
				<div>Aucune recette enregistrée !</div>

			{% endfor %}
		</div>

	</section>
{% endblock %}
