{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <h1>Recettes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ recette.titre }}</td>
            </tr>
     <tr>
                <th>Ingrédients</th>
             <td>{{ recette.ingredientsAll | raw }}</td>
            </tr>
            	
            <tr>
                <th>TpsPreparation</th>
                <td>{{ recette.tpsPreparation }}</td>
            </tr>
            <tr>
                <th>TpsCuisson</th>
                <td>{{ recette.tpsCuisson }}</td>
            </tr>
            <tr>
                <th>TpsRepos</th>
                <td>{{ recette.tpsRepos }}</td>
            </tr>
            <tr>
                <th>Preparation</th>
                <td>{{ recette.preparation | raw }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ recette.photo }}</td>
            </tr>
            <tr>
                <th>Saison</th>
                <td>{{ recette.saison }}</td>
            </tr>
            <tr>
                <th>NbPersonnes</th>
                <td>{{ recette.nbPersonnes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recettes_index') }}">back to list</a>

    <a href="{{ path('app_recettes_edit', {'id': recette.id}) }}">edit</a>

    {{ include('recettes/_delete_form.html.twig') }}
{% endblock %}
