{% extends 'base.html.twig' %}

{% block title %}
	{{ recette.titre }}
	- Amiam
{% endblock %}

{% block body %}
	<section class="recettesShow">

		<h1>{{ recette.titre }}</h1>
			<h5>{{ recette.categoriesRecette.categorie }}</h5>

		<div class="groupeBoutons">
			<div>
				<a class="btn btnRetour" href="javascript:history.go(-1)">Retour</a>
			</div>
			<div>
				<a class="btn btnModifier" href="{{ path('app_recettes_edit', {'id': recette.id}) }}">Modifier</a>
			</div>
			{{ include('recettes/_delete_form.html.twig') }}
		</div>

		{% if recette.photo %}
			<div class="imgRecette"><img src="{{asset('uploads/photos/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
		{% else  %}
			<div class="imgRecette"><img src="{{asset('./assets/img/Image.jpg')}}" alt="{{ recette.titre }}"></div>
		{% endif  %}


		<div class="tempsGroupe">
			<div class="temps">
				<p>Temps de préparation</p>
				<div>{{ recette.tpsPreparation }}
					min
				</div>
			</div>
			<div class="temps">
				<p>Temps de repos</p>
				<div>{{ recette.tpsRepos }}
					min</div>
			</div>
			<div class="temps">
				<p>Temps de cuisson</p>
				<div>{{ recette.tpsCuisson }}
					min</div>
			</div>
		</div>
		<div class="saisons">
			<p>Saison(s) :</p>
			<div>
				{% for saison in recette.saison %}
					<div>{{ saison }}
					</div>
				{% endfor %}
			</div>
		</div>

		<div>
			<h5>Ingrédients</h5>
			<p class="nbPersonnes">pour
				{{ recette.nbPersonnes }}
				personnes</p>
			<table>
				<tbody>
					{% for ingredient in recette.ingredients %}
						<tr class="ingredients">
							<td>
								{{ ingredient.ingredientId.ingredient }}
							</td>
							<td>
								{{ ingredient.quantite }}
							</td>
							<td>
								{{ ingredient.uniteMesure }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div>
			<h5>Préparation</h5>
			<p>{{ recette.preparation | raw }}</p>

		</div>

		<h5>Repas effectués</h5>
		<div class="cards">
			{% for repa in repas  | sort((b, a)=> a.dateRepas <=> b.dateRepas)%}
				<a href="{{ path('app_repas_show', {'id': repa.id}) }}">

					<div class="card shadow-1 hoverable-1 rounded-3 cardRepasRecette ">

						<div>
							{{ repa.dateRepas ? repa.dateRepas|date('d-M-Y') : '' }}
							-
							{% for ami in repa.amis %}

								<span>{{ ami.nom }}</span>
							{% endfor %}

						</div>
						<div>{{ repa.resultat }}</div>
						<div>{{ repa.commentaire }}</div>
					</div>
				</a>
			{% else %}
				<div>
					Recette pas encore effectuée !
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
