{% extends 'base.html.twig' %}

{% block title %}Amis index{% endblock %}

{% block body %}
    <h1>Mes Amis</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>NbPersonnes</th>
                <th>actions</th>
            </tr>
        </thead>			

        <tbody>
        {% for ami in app.user.amis %}
            <tr>
                <td>{{ ami.id }}</td>
                <td>{{ ami.nom }}</td>
                <td>{{ ami.nbPersonnes }}</td>
                <td>
                    <a href="{{ path('app_amis_show', {'id': ami.id}) }}">Voir</a>
                    <a href="{{ path('app_amis_edit', {'id': ami.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun ami enregistré !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_amis_new') }}">Créer</a>
{% endblock %}
