{% extends 'base.html.twig' %}

{% block title %}Amis
{% endblock %}

{% block body %}
	<section class="amisShow">
		<h1>{{ ami.nom }}</h1>

		<div>
			Nombre de personnes :
			{{ ami.nbPersonnes }}
		</div>


		<div class="amisShowAllergies">
			<h5>Allergies</h5>
			<a class="btn btnCreer" href="{{ path('app_allergies_new', {'idAmi': ami.id}) }}">Ajouter</a>
			{% for allergie in ami.allergies %}
				<div class="cardAllergie">
					<p>
						{{ allergie.ingredient }}
						<a class="btn btnModifier" href="{{ path('app_allergies_edit', {'id': allergie.id, 'idAmi': ami.id}) }}">Modifier</a>
						<a class="btn btnSupprimer" href="{{ path('app_allergies_delete', {'id': allergie.id}) }}">Supprimer</a>
					</p>
				</div>
			{% else %}
				<p>
					Aucune allergie !
				</p>

			{% endfor %}

		</div>
		<div class="amisShowDetestes">
			<h5>Aliments détestés</h5>
			<a class="btn btnCreer" href="{{ path('app_detestes_new', {'idAmi': ami.id}) }}">Ajouter</a>
			{% for deteste in ami.detestes %}
				<div class="cardDeteste">
					<p>
						{{ deteste.ingredient }}
						<a class="btn btnModifier" href="{{ path('app_detestes_edit', {'id': deteste.id, 'idAmi': ami.id}) }}">Modifier</a>
						<a class="btn btnSupprimer" href="{{ path('app_detestes_delete', {'id': deteste.id}) }}">Supprimer</a>
					</p>
				</div>
			{% else %}
				<p>
					Aucune Aliment détesté !
				</p>

			{% endfor %}

		</div>

		<div>
			<div>
				<a class="btn btnRetour" href="{{ path('app_amis_index') }}">Retour</a>
			</div>
			<div>
				<a class="btn btnModifier" href="{{ path('app_amis_edit', {'id': ami.id}) }}">Modifier</a>
			</div>
			{{ include('amis/_delete_form.html.twig') }}
		</div>

		<div>

			<div>
				<h3>Repas</h3>
				{% for repa in repas %}
					<div>
						{{ repa.dateRepas ? repa.dateRepas|date('d-M-Y') : '' }}
						-
						{{ repa.recette.titre}}
					</div>
				{% else %}
					<div>
						Aucun repas enregistré !
					</div>
				{% endfor %}
			</div>
		</div>

	</section>
{% endblock %}
