{% extends 'base.html.twig' %}

{% block title %}Amis{% endblock %}

{% block body %}
    <h1>Amis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ami.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ami.nom }}</td>
            </tr>
            <tr>
                <th>NbPersonnes</th>
                <td>{{ ami.nbPersonnes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_amis_index') }}">back to list</a>

    <a href="{{ path('app_amis_edit', {'id': ami.id}) }}">edit</a>

    {{ include('amis/_delete_form.html.twig') }}
{% endblock %}
