{% extends 'base.html.twig' %}

{% block title %}
	{{ ami.nom }}
	- Amiam
{% endblock %}

{% block body %}
	<section class="amisShow">
		<h1>{{ ami.nom }}</h1>
		<div class="groupeBoutons">
			<div>
				<a class="btn btnRetour" href="javascript:history.go(-1)">Retour</a>
			</div>
			<div>
				<a class="btn btnModifier" href="{{ path('app_amis_edit', {'id': ami.id}) }}">Modifier</a>
			</div>
			{{ include('amis/_delete_form.html.twig') }}
		</div>
		<div>
			Nombre de personnes :
			{{ ami.nbPersonnes }}
		</div>


		<div>
			<h5>Ingrédients à éviter</h5>
			<a class="btn btnCreer" href="{{ path('app_allergies_new', {'idAmi': ami.id}) }}">Ajouter</a>
			<div class="allCatetoriesIngr">
				<div class="categorieIngr">
					<h6>Famille de produits</h6>
					<div class='cards'>
						{% for allergie in ami.allergies | sort((a, b)=> a.superCategorieIngr <=> b.superCategorieIngr)  %}
							{% if allergie.superCategorieIngr is not null %}

								<div class="card shadow-1 hoverable-1 rounded-3  cardAllergie">
									<a class="btn" href="{{ path('app_allergies_edit', {'id': allergie.id, 'idAmi': ami.id}) }}">
										{{ allergie.superCategorieIngr }}
									</a>
								</div>
							{% endif %}
						{% else %}
							<p>
								Aucun ingrédient à éviter !
							</p>

						{% endfor %}
					</div>
				</div>
				<div class="categorieIngr">
					<h6>Sous-famille de produits</h6>
					<div class='cards'>
						{% for allergie in ami.allergies | sort((a, b)=> a.categorieIngredients <=> b.categorieIngredients)  %}
							{% if allergie.categorieIngredients is not null %}

								<div class="card shadow-1 hoverable-1 rounded-3  cardAllergie">
									<a class="btn" href="{{ path('app_allergies_edit', {'id': allergie.id, 'idAmi': ami.id}) }}">
										{{ allergie.categorieIngredients }}
									</a>
								</div>
							{% endif %}
						{% else %}
							<p>
								Aucun ingrédient à éviter !
							</p>
						{% endfor %}
					</div>
				</div>
				<div class="categorieIngr">
					<h6>Ingrédients</h6>
					<div class='cards'>
						{% for allergie in ami.allergies | sort((a, b)=> a.ingredient <=> b.ingredient)  %}
							{% if allergie.ingredient is not null %}

								<div class="card shadow-1 hoverable-1 rounded-3  cardAllergie">
									<a class="btn" href="{{ path('app_allergies_edit', {'id': allergie.id, 'idAmi': ami.id}) }}">
										{{ allergie.ingredient }}
									</a>
								</div>
							{% endif %}
						{% else %}
							<p>
								Aucun ingrédient à éviter !
							</p>

						{% endfor %}
					</div>

				</div>
			</div>
		</div>
		<div>

			<div>
				<h3>Repas</h3>
				{% for repa in repas | sort((b, a)=> a.dateRepas <=> b.dateRepas)  %}
					<a href="{{ path('app_repas_show', {'id': repa.id}) }}">

						<div class="card shadow-1 hoverable-1 rounded-3 cardRepas">
							<div>
								{{ repa.dateRepas ? repa.dateRepas|date('d-M-Y') : '' }}
							</div>
							<div class="cardRepasTitre">
								&nbsp;
								{{ repa.recette.titre}}

							</div>

						</div>
					</a>
				{% else %}
					<div class="card shadow-1 hoverable-1 rounded-3 cardRepas">
						Aucun repas enregistré !
					</div>
				{% endfor %}
			</div>
		</div>

	</section>
{% endblock %}
