<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<!-- Axentix CSS minified version -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	</head>

	<body class="layout">
		<header>
			<nav class="navbar shadow-1 primary">
				<a href="{{path('app_home')}}" class="navbar-brand">Flavor Link</a>
				<div class="navbar-menu ml-auto">
					<a class="navbar-link" href="{{path('app_home')}}">Home</a>
					<a class="navbar-link" href="{{path('app_user_index')}}">Mon compte</a>
					<a class="navbar-link" href="{{path('app_repas_index')}}">Mes repas</a>
					<a class="navbar-link" href="{{path('app_recettes_index')}}">Mes recettes</a>
					<a class="navbar-link" href="{{path('app_amis_index')}}">Mes amis</a>
					<a class="navbar-link" href="#">Recettes</a>
					<a class="navbar-link" href="{{path('app_ingredients_index')}}">Ingrédients</a>
					{% if is_granted('ROLE_USER') %}
						<a class="navbar-link" href="{{path('app_logout')}}">Déconnexion</a>
					{% else %}
						<a class="navbar-link" href="{{path('app_login')}}">Connexion</a>
					{% endif %}
				</div>
			</nav>
		</header>

		<main>
			{% block body %}{% endblock %}
		</main>

		<footer class="footer primary">
			<div>
				Copyright © 2023 - Flavor Link
			</div>
			<div>
				{% if is_granted('ROLE_ADMIN') %}
					<a class="btn" href="#">Admin</a>
				{% endif %}
			</div>


		</footer>

		<!-- Axentix JS minified version -->
		<script src="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.js"></script>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<script src="{{asset('./assets/js/script.js')}}"></script>

	</body>
</html>
