{% extends 'base.html.twig' %}

{% block title %}
	Mon compte - Flavor Link
{% endblock %}

{% block body %}
	<section class="profilUser">
		<div class="profil">
			<h1>
				{{app.user.pseudo}}</h1>

			<div class="profilChamps">
				<div>Nombre de personnes dans le foyer :</div>
				<div>{{app.user.nbPersonnes}}
					personne(s)</div>
			</div>

			<div class="profilChamps">
				<div>E-mail :</div>
				<div>{{app.user.email}}</div>
			</div>
			<div class="groupeBoutons">
				<a href="{{ path('app_user_edit', {'id': app.user.id})}}" class="btn shadow-1 btnModifier">Modifier le profil</a>
				<a href="#" class="btn shadow-1 btnModifier">Modifier le mot de passe</a>
			</div>
		</div>
		<div class="recettes">
			<h2 class="col-xs4">Recettes ({{app.user.recettes|length}})</h2>

			{% for recette in app.user.recettes  | sort((a, b)=> a.titre <=> b.titre) %}
				<div class="card shadow-1 hoverable-1 rounded-3 ">
					<a class="cardRecette" href="{{ path('app_recettes_show', {'id': recette.id}) }}">

						{% if recette.photo %}
							<div class="imgRecette"><img src="{{asset('uploads/photos/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
						{% else  %}
							<div class="imgRecette"><img src="{{asset('./assets/img/Image.jpg')}}" alt="{{ recette.titre }}"></div>
						{% endif  %}

						<div class="slugRecette">
							<div class="titreRecette">{{ recette.titre }}</div>
							<div class="tpsRecette">
								<div>
									<div>Préparation</div>
									<div>{{ recette.tpsPreparation }}
										min</div>
								</div>
								<div>
									<div>Repos</div>
									<div>{{ recette.tpsRepos }}
										min</div>
								</div>
								<div>
									<div>Cuisson</div>
									<div>{{ recette.tpsCuisson }}
										min</div>
								</div>

							</div>
							<div>{{ recette.saison }}</div>
						</div>

					</a>
				</div>
			{% endfor %}

		</div>

	</section>
{% endblock %}
